{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="auth-container">
    <div class="auth-card">
        <h1>MIRELA777</h1>
        <h2>Въведете нова парола</h2>

        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Промени паролата</button>
        </form>
        {% else %}
        <p style="color: red;">Линкът за възстановяване е невалиден или е изтекъл. Моля, заявете нов.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}